@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gyahegi'; /* Name of the font */
  src: url('./fonts/Gyahegi.ttf') format('truetype');
  font-weight: normal; /* Optional: Specify font weight */
  font-style: normal; /* Optional: Specify font style */
}

@font-face {
  font-family: 'swiss'; /* Name of the font */
  src: url('./fonts/swiss.ttf') format('truetype');
  font-weight: normal; /* Optional: Specify font weight */
  font-style: normal; /* Optional: Specify font style */
}


h1,h2,h3{
  font-family: 'Gyahegi', 'sans serif';
}

body,p{
  font-family: 'swiss', 'sans serif';
}